langchain
langchain-chroma
langchain-community
sentence-transformers
chromadb
python-dotenv
pypdf
python-dotenv
langchain-groq
torch 
torchvision
#--index-url https://download.pytorch.org/whl/cu126 #cuda enabled for gpu
sentence-transformers
langchain-community